@{
    ViewData["Title"] = "Home Page";
}

<div class="container">
    <div class="row my-1">
        <div class="col-2 text-center">
            <button id="openAddTaskForm" type="button" class="btn btn-outline-primary" data-bs-toggle="collapse" data-bs-target="#addTaskAccordion" aria-expanded="false" aria-controls="addTaskAccordion">タスク追加</button>
        </div>
        <div class="col-10">
            <form>
                <input type="text" class="form-control" placeholder="タスクを検索する" aria-label="searchTask">
            </form>
        </div>
    </div>
    <div class="row collapse mt-3" id="addTaskAccordion">
        <div class="card card-body">
            <div class="mb-3">
                <label for="newTaskTitle" class="form-label">タスク名</label>
                <input type="text" class="form-control" id="newTaskTitle">
            </div>
            <div class="mb-3">
                <label for="newTaskDescription" class="form-label">タスクの詳細</label>
                <textarea class="form-control" id="newTaskDescription" rows="3"></textarea>
            </div>
            <div class="mb-3">
                <button id="addTask" type="button" class="btn btn-primary">追加</button>
            </div>
        </div>
    </div>
</div>
<div class="mt-5" style="height:auto">
    <div class="accordion accordion--custom" id="accordionCheckBox">
        <div class="accordion-item">
            <h2 class="accordion-header" id="accordionHeader_1">
                <input type="checkbox" class="form-check-input">
                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#accordionCollapse_1" aria-expanded="true" aria-controls="accordionCollapse_1">
                    HomeWork
                </button>
            </h2>
            <div id="accordionCollapse_1" class="accordion-collapse collapse" aria-labelledby="accordionHeader_1" data-bs-parent="#accordionCheckBox">
                <div class="accordion-body">
                    TodoHomeWork
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header" id="accordionHeader_2">
                <input type="checkbox" class="form-check-input">
                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#accordionCollapse_2" aria-expanded="false" aria-controls="accordionCollapse_2">
                    Study
                </button>
            </h2>
            <div id="accordionCollapse_2" class="accordion-collapse collapse" aria-labelledby="accordionHeader_2" data-bs-parent="#accordionCheckBox">
                <div class="accordion-body">
                    Todomathstudy
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header" id="accordionHeader_3">
                <input type="checkbox" class="form-check-input">
                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#accordionCollapse_3" aria-expanded="false" aria-controls="accordionCollapse_3">
                    MakeDinner
                </button>
            </h2>
            <div id="accordionCollapse_3" class="accordion-collapse collapse" aria-labelledby="accordionHeader_3" data-bs-parent="#accordionCheckBox">
                <div class="accordion-body">
                    Makedinner
                </div>
            </div>
        </div>
    </div>
</div>
<div class="mt-5">
    <nav aria-label="Search result pages">
        <ul class="pagination justify-content-center">
            <li class="page-item disabled">
                <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Previous</a>
            </li>
            <li class="page-item"><a class="page-link" href="#">1</a></li>
            <li class="page-item"><a class="page-link" href="#">2</a></li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item">
                <a class="page-link" href="#">Next</a>
            </li>
        </ul>
    </nav>
</div>
