@model PaginatedList<ToDoTask>

@{
    ViewData["Title"] = "Home Page";
}

<script>
    $(function () {

        $('#addTaskBtn').on('click', function () {
            var pageNumber = $('.page-item.active').find('.page-link').data('pagenumber');
            const formData = $('#addTaskForm').serialize() + `&pageIndex=${pageNumber}`;

            $.ajax({
                url: "/AddTask",
                data: formData,
                dataType: "html",
                type: "POST",
            }).done(function (res) {
                $('#partialListView').html(res);
            })
        })
</script>

<div class="container">
    <div class="row my-1">
        <div class="col-2 text-center">
            <button id="openAddTaskForm" type="button" class="btn btn-outline-primary" data-bs-toggle="collapse" data-bs-target="#addTaskAccordion" aria-expanded="false" aria-controls="addTaskAccordion">タスク追加</button>
        </div>
        <div class="col-10">
            <form>
                <input type="text" class="form-control" placeholder="タスクを検索する" aria-label="searchTask">
            </form>
        </div>
    </div>
    <div class="row collapse mt-3" id="addTaskAccordion">
        <div class="card card-body">
            <form id="addTaskForm">
                <div class="mb-3">
                    <label for="newTaskTitle" class="form-label">タスク名</label>
                    <input type="text" class="form-control" name="title" id="newTaskTitle">
                </div>
                <div class="mb-3">
                    <label for="newTaskDescription" class="form-label">タスクの詳細</label>
                    <textarea class="form-control" name="description" id="newTaskDescription" rows="3"></textarea>
                </div>
                <div class="mb-3">
                    <button id="addTaskBtn" type="button" class="btn btn-primary">追加</button>
                </div>
            </form>
        </div>
    </div>
</div>
<div id="partialListView">
    <partial name="~/Views/partial/_TaskView.partial.cshtml" model="Model" />
</div>